* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    transition: 0.2s linear;
}

body {
    background: var(--color-pd2);
     font-family: "Roboto", sans-serif;
}

:root {
    --color-pd1: #FF7A00;
    --color-pd2: #fff;
}

/* Cabeçario */

header img {
    width: 120px;
    height: 120px;
    padding-top: 10px;
    padding-left: 30px;
}

#cabecario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100px;
    gap: 30px;
    border-bottom: 1px solid var(--color-pd1);
    background-color: var(--color-pd2);
    border-bottom-left-radius: 24px;    
    border-bottom-right-radius: 24px;    
}

a{
    text-decoration: none;
    font-size: 1.4em;
    color: var(--color-pd1);
    padding: 0px 5px;
    padding-right: 25px;
}

 a:hover {
    color: #ffab0f;
    font-size: 1.6em;
    padding: 10px;
 }

 /* Fundo */

 #fundo img {
    padding-top: 80px;
    width: 100%;
    height: 100%;
}

/* Seçôes */

h1.topicos {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
    color: var(--color-pd1);
    display: flex;
    justify-content: center;
}

.descricao {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin: 0px 40px 0px 40px;
}

#rodape {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pd1);
    color: var(--color-pd2);
    
}