* {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  transition: 0.2s linear;
}

body {
  background: var(--color-pd2);
  font-family: "Roboto", sans-serif;
}

:root {
  --color-pd1: #ff7a00;
  --color-pd2: #fff;
  --color-pd3: #000;
}

/* Cabeçario */

header img {
  width: 120px;
  height: 120px;
  padding-top: 10px;
  padding-left: 30px;
}

#user {
  width: 100px;
  height: 65px;
  border-radius: 50%;
}

#user:hover {
  width: 110px;
  height: 70px;
  cursor: pointer;
}

#cabecario {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100px;
  gap: 30px;
  border-bottom: 1px solid var(--color-pd1);
  background-color: rgba(255, 255, 255, 0.95);
}

a {
  text-decoration: none;
  font-size: 1.4em;
  color: var(--color-pd1);
  padding: 0px 5px;
  margin-right: 20px;
  position: relative;
}

a:hover {
  color: #ffab0f;
}

a::after {
  content: "";
  position: absolute;
  background-color: #ffab0f;
  height: 3px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  transition: 0.4s ease-in-out;
}

a:hover::after {
  width: 100%;
}

/* Fundo */

#fundo img {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

/* Seçôes */

h1.topicos {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.5em;
  color: var(--color-pd1);
  display: flex;
  justify-content: center;
}

.descricao {
  display: flex;
  justify-content: center;
  color: var(--color-pd3);
  margin: 0px 40px 0px 40px;
  padding: 10px 20px;
}

#rodape {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pd1);
  color: var(--color-pd2);
}
